@{
    ViewBag.Title = "Reset password confirmation";
}

<br />
<br />
<div class="panel panel-danger" style="margin-left:250px;margin-right:250px">
    <div class="panel-heading"><strong>PASSWORD RESET CONFIRMATION</strong></div>
    <div class="panel-body" style="text-align:center">

        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>

    </div>
</div>

